In [3]:
# First let's import the packages we will use in this project
# You can do this all now or as you need them
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

pd.options.mode.chained_assignment = None



# Now we need to read in the data
df = pd.read_csv(r'/Users/Felixmmeka/Python/movies.csv')

In [70]:
# Now let's take a look at the data

df

In [11]:
# Let's see if there is any missing data

for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, pct_missing))

name - 0.0%
rating - 0.010041731872717789%
genre - 0.0%
year - 0.0%
released - 0.0002608242044861763%
score - 0.0003912363067292645%
votes - 0.0003912363067292645%
director - 0.0%
writer - 0.0003912363067292645%
star - 0.00013041210224308815%
country - 0.0003912363067292645%
budget - 0.2831246739697444%
gross - 0.02464788732394366%
company - 0.002217005738132499%
runtime - 0.0005216484089723526%

In [71]:
#Data types of our colomns

df.dtypes

In [22]:
# #change data type of colomns

# df['budget'] = df['budget'].astype('int64')
# df['gross'] = df['gross'].astype('int64')

In [72]:
df

In [73]:
#Create correct year colomn

df['monthcorrect'] = df['released'].astype(str).str[:4]
#df['yearcorrect'] = df['released'].astype(str).str[8:12]

df

In [33]:
# To see the whole table or cap the number of rows
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', 20)

In [74]:
df.sort_values(by=['gross'], inplace=False, ascending=False)

In [47]:
# Drop any diplicates 

df['company'].drop_duplicates().sort_values(ascending=False)

7129                                thefyzz
5664                            micro_scope
6412               iDeal Partners Film Fund
4007                               i5 Films
6793                             i am OTHER
                       ...
3748                     1+2 Seisaku Iinkai
3024                        .406 Production
7525    "Weathering With You" Film Partners
4345        "DIA" Productions GmbH & Co. KG
408                                     NaN
Name: company, Length: 2386, dtype: object

In [95]:
# Scatter plot with budget vs gross


plt.scatter(x=df['budget'], y=df['gross'])

plt.title('Budget vs Gross Earnings')

plt.xlabel('Gross Earnings')

plt.ylabel('Budget for Film')

plt.show()

In [100]:
# Plot the budget vs growth using seaborn

sns.regplot(x='budget', y='gross', data=df, scatter_kws={"color": "red"}, line_kws={"color":"blue"})

#Lets start looking at correlation

In [55]:
df.corr() #Pearson, #kendall , #spearman 
#Pearson is defualt when using the command

/var/folders/0b/g4jmsm6518gbyjq8vvjmjxp00000gn/T/ipykernel_4180/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

             year     score     votes    budget     gross   runtime
year     1.000000  0.097995  0.222945  0.329321  0.257486  0.120811
score    0.097995  1.000000  0.409182  0.076254  0.186258  0.399451
votes    0.222945  0.409182  1.000000  0.442429  0.630757  0.309212
budget   0.329321  0.076254  0.442429  1.000000  0.740395  0.320447
gross    0.257486  0.186258  0.630757  0.740395  1.000000  0.245216
runtime  0.120811  0.399451  0.309212  0.320447  0.245216  1.000000

In [98]:
correaltion_matrix=df.corr()

sns.heatmap(correaltion_matrix, annot=True)

plt.title('Correlation Matrix for Numeric Features')

plt.xlabel('Movie Features')

plt.ylabel('Movie Features')

plt.show()

In [78]:
# Looking at Company correlation

df_numerized = df

for col_name in df_numerized.columns:
    if(df_numerized[col_name].dtype == 'object'):
        df_numerized[col_name] = df_numerized[col_name].astype('category')
        df_numerized[col_name] =  df_numerized[col_name].cat.codes

df_numerized

In [99]:


correaltion_matrix=df_numerized.corr()

sns.heatmap(correaltion_matrix, annot=True)

plt.title('Correlation Matrix for Numeric Features')

plt.xlabel('Movie Features')

plt.ylabel('Movie Features')

plt.show()

In [80]:
df_numerized.corr()

In [67]:
correlation_mat = df_numerized.corr()

corr_pairs = correlation_mat.unstack()

corr_pairs

name          name            1.000000
              rating         -0.008069
              genre           0.016355
              year            0.011453
              released       -0.011311
                                ...
monthcorrect  gross           0.002946
              company        -0.010726
              runtime         0.000410
              yearcorrect     0.415898
              monthcorrect    1.000000
Length: 289, dtype: float64

In [68]:
sorted_pairs = corr_pairs.sort_values()

sorted_pairs

genre         budget         -0.356564
budget        genre          -0.356564
genre         gross          -0.235650
gross         genre          -0.235650
budget        rating         -0.176002
                                ...
year          year            1.000000
genre         genre           1.000000
rating        rating          1.000000
yearcorrect   yearcorrect     1.000000
monthcorrect  monthcorrect    1.000000
Length: 289, dtype: float64

In [69]:
high_correlation = sorted_pairs[(sorted_pairs) > 0.5]

high_correlation

gross         votes           0.630757
votes         gross           0.630757
budget        gross           0.740395
gross         budget          0.740395
monthcorrect  released        0.993694
                                ...
year          year            1.000000
genre         genre           1.000000
rating        rating          1.000000
yearcorrect   yearcorrect     1.000000
monthcorrect  monthcorrect    1.000000
Length: 23, dtype: float64

In [ ]:
# Votes and budget have the highest correlation to Gross earnings

# Company has low correlation